/* CSS file to make website look nicer */

* {
    color: white;
    padding: 0px;
    margin: 0px;
}

.header {
    background-color: darkcyan;
    color: black;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid white;
    opacity: 0.95;
}

.header > h1 {
    font-size: 48px;
}

body {
    background-image: url(./assets/Space-Background-Image-2.jpg);
    /* image from https://unblast.com/10-free-space-background-images-jpg/ */
}

.body {
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    margin: 30px;
    text-align: center;
}

.left {
    flex: 3;
    background-color: black;
    margin-right: 30px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 8px;
    height: 200px;
    box-shadow: 8px 8px darkcyan;
    opacity: 0.9;
}

.left > form {
    margin: 5px;
}

#username {
    color: black;
}

#submit {
    padding: 2px;
    margin: 5px;
    color: black;
}

.left > button {
    padding: 2px;
    margin: 5px;
    color: black;
}

button:hover {
    background-color: darkcyan;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.right {
    flex: 1;
    background-color: black;
    margin-left: 30px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 8px;
    height: 400px;
    box-shadow: 8px 8px darkcyan;
    opacity: 0.9;
}

.right .leaderboard-title {
    background-color: darkcyan;
    padding: 10px;
    border-radius: 4px;
}

.right .player {
    padding-left: 10px;
    text-align: left;
}

#gameScreen {
    display: none;
}